h0 {margin: 0px;padding: 0px;}
h1 {font-family: Arial ;font-size:12pt;font-weight:700;color:#000000;margin:0px;padding:0px;}
h2 {font-family: Arial ;font-size:12pt;font-weight:700;color:#000000;margin:0px;padding:0px;}
h3 {margin: 0px;padding: 0px;}
h4 {margin: 0px;padding: 0px;}
h5 {margin: 0px;padding: 0px;}
#Page {margin-left:auto;margin-right:auto;}
