p {margin:0px; padding:0px; line-height:100%}
.cLinkHidden {position:absolute; visibility:hidden; left:0px; top:0px; width:0px; height:0px; overflow:hidden;}
#Page {overflow:hidden;position:relative;width:1000px;min-height:1656px;z-index:1;}
#PanelHeader {display:block;overflow:hidden;position:relative;float:left;margin-left:20px;width:960px;height:120px;z-index:2;}
#PanelHeaderAlpha {position:absolute;left:0px;top:0px;width:100%;height:100%;background-color:#FFFFFF;}
#PanelHeaderNoAlpha {position:relative;}
#Input3 {visibility:inherit;overflow:visible;position:absolute;z-index:3;left:786px;top:93px;}
#Img4 {display:block;overflow:hidden;position:absolute;left:-6px;top:3px;width:354px;height:81px;z-index:4;}
#Img4Inner {position:absolute;width:354px;height:81px;border:0px;}
#Text3 {display:block;position:absolute;left:11px;top:76px;width:348px;height:26px;z-index:5;}
#Input1 {visibility:inherit;overflow:visible;position:absolute;z-index:6;left:639px;top:93px;}
#Flash1 {display:block;overflow:hidden;position:absolute;left:703px;top:14px;width:250px;height:66px;z-index:7;}
#Text4 {display:block;position:absolute;left:871px;top:93px;width:77px;height:17px;z-index:8;}
#PanelMenu {display:block;overflow:hidden;position:relative;float:left;margin-left:20px;width:960px;height:51px;z-index:9;}
#PanelMenuAlpha {position:absolute;left:0px;top:0px;width:100%;height:100%;}
#PanelMenuNoAlpha {position:relative;}
#BoxMenu1 {display:block;overflow:hidden;position:relative;float:left;width:960px;height:50px;z-index:10;background:url('./images/partners_BoxMenu1.png');background-repeat:no-repeat;}
#BoxMenu2 {display:block;overflow:hidden;position:absolute;left:-20px;top:49px;margin-left:20px;width:960px;height:2px;z-index:11;background:url('./images/partners_BoxMenu2.png');background-repeat:no-repeat;}
#Menu1 {display:block;z-index:2087;position:absolute;left:20px;top:120px;width:960px;height:50px;}
#PanelCenter {display:block;overflow:hidden;position:relative;float:left;margin-left:20px;width:960px;min-height:480px;z-index:13;}
#PanelCenterAlpha {position:absolute;left:0px;top:0px;width:100%;height:100%;}
#PanelCenterNoAlpha {position:relative;}
#DecoEdit {display:block;overflow:hidden;position:absolute;left:20px;top:0px;width:920px;height:240px;z-index:14;}
#DecoEditInner {position:absolute;width:920px;height:240px;border:0px;}
#PanelBlocs {display:block;overflow:hidden;position:relative;float:left;width:960px;min-height:480px;z-index:15;}
#PanelBlocsAlpha {position:absolute;left:0px;top:0px;width:100%;height:100%;}
#PanelBlocsNoAlpha {position:relative;}
#Box1 {display:block;overflow:hidden;position:relative;float:left;margin-left:5px;margin-top:5px;margin-right:5px;margin-bottom:5px;width:950px;height:736px;z-index:16;background:url('./images/partners_Box1.png');background-repeat:no-repeat;}
#Titre6 {display:block;overflow:hidden;position:absolute;left:50px;top:10px;width:410px;height:20px;z-index:17;white-space:normal;}
#Img2 {display:block;overflow:hidden;position:absolute;left:10px;top:5px;width:30px;height:30px;z-index:18;}
#Img2Inner {position:absolute;width:30px;height:30px;border:0px;}
#Text2 {display:block;position:absolute;left:-10px;top:-22px;margin-left:20px;margin-top:70px;margin-right:20px;width:935px;height:675px;z-index:19;}
#Img22 {display:block;overflow:hidden;position:absolute;left:73px;top:75px;width:82px;height:82px;z-index:20;}
#Img22Inner {position:absolute;width:82px;height:82px;border:0px;}
#Img25 {display:block;overflow:hidden;position:absolute;left:210px;top:181px;width:132px;height:75px;z-index:21;}
#Img25Inner {position:absolute;width:132px;height:75px;border:0px;}
#Img26 {display:block;overflow:hidden;position:absolute;left:210px;top:305px;width:142px;height:56px;z-index:22;}
#Img26Inner {position:absolute;width:142px;height:56px;border:0px;}
#Img28 {display:block;overflow:hidden;position:absolute;left:776px;top:419px;width:134px;height:74px;z-index:23;}
#Img28Inner {position:absolute;width:134px;height:74px;border:0px;}
#Img29 {display:block;overflow:hidden;position:absolute;left:562px;top:211px;width:139px;height:26px;z-index:24;}
#Img29Inner {position:absolute;width:139px;height:26px;border:0px;}
#Img30 {display:block;overflow:hidden;position:absolute;left:60px;top:184px;width:111px;height:80px;z-index:25;}
#Img30Inner {position:absolute;width:111px;height:80px;border:0px;}
#Img31 {display:block;overflow:hidden;position:absolute;left:390px;top:320px;width:144px;height:32px;z-index:26;}
#Img31Inner {position:absolute;width:144px;height:32px;border:0px;}
#Img32 {display:block;overflow:hidden;position:absolute;left:582px;top:267px;width:106px;height:106px;z-index:27;}
#Img32Inner {position:absolute;width:106px;height:106px;border:0px;}
#Img33 {display:block;overflow:hidden;position:absolute;left:789px;top:58px;width:108px;height:108px;z-index:28;}
#Img33Inner {position:absolute;width:108px;height:108px;border:0px;}
#Img34 {display:block;overflow:hidden;position:absolute;left:69px;top:293px;width:58px;height:85px;z-index:29;}
#Img34Inner {position:absolute;width:58px;height:85px;border:0px;}
#Img35 {display:block;overflow:hidden;position:absolute;left:771px;top:308px;width:138px;height:44px;z-index:30;}
#Img35Inner {position:absolute;width:138px;height:44px;border:0px;}
#Img37 {display:block;overflow:hidden;position:absolute;left:771px;top:184px;width:143px;height:81px;z-index:31;}
#Img37Inner {position:absolute;width:143px;height:81px;border:0px;}
#Img11 {display:block;overflow:hidden;position:absolute;left:293px;top:428px;width:196px;height:64px;z-index:32;}
#Img11Inner {position:absolute;width:196px;height:64px;border:0px;}
#Img38 {display:block;overflow:hidden;position:absolute;left:375px;top:198px;width:160px;height:76px;z-index:33;}
#Img38Inner {position:absolute;width:160px;height:76px;border:0px;}
#Img1 {display:block;overflow:hidden;position:absolute;left:236px;top:67px;width:90px;height:90px;z-index:34;}
#Img1Inner {position:absolute;width:90px;height:90px;border:0px;}
#Img3 {display:block;overflow:hidden;position:absolute;left:404px;top:61px;width:102px;height:99px;z-index:35;}
#Img3Inner {position:absolute;width:102px;height:99px;border:0px;}
#Img5 {display:block;overflow:hidden;position:absolute;left:560px;top:397px;width:145px;height:117px;z-index:36;}
#Img5Inner {position:absolute;width:145px;height:117px;border:0px;}
#Img6 {display:block;overflow:hidden;position:absolute;left:50px;top:418px;width:219px;height:81px;z-index:37;}
#Img6Inner {position:absolute;width:219px;height:81px;border:0px;}
#Img7 {display:block;overflow:hidden;position:absolute;left:593px;top:61px;width:111px;height:93px;z-index:38;}
#Img7Inner {position:absolute;width:111px;height:93px;border:0px;}
#Text1 {display:none;position:absolute;left:74px;top:52px;width:137px;height:21px;z-index:39;}
#Text5 {display:none;position:absolute;left:236px;top:45px;width:203px;height:21px;z-index:40;}
#Text6 {display:none;position:absolute;left:404px;top:42px;width:219px;height:21px;z-index:41;}
#Text9 {display:none;position:absolute;left:593px;top:44px;width:141px;height:21px;z-index:42;}
#Text10 {display:none;position:absolute;left:60px;top:160px;width:299px;height:21px;z-index:43;}
#Text11 {display:none;position:absolute;left:224px;top:160px;width:100px;height:21px;z-index:44;}
#Text12 {display:none;position:absolute;left:367px;top:175px;width:259px;height:21px;z-index:45;}
#Text13 {display:none;position:absolute;left:525px;top:177px;width:289px;height:21px;z-index:46;}
#Text14 {display:none;position:absolute;left:804px;top:175px;width:81px;height:21px;z-index:47;}
#Img13 {display:block;overflow:hidden;position:absolute;left:69px;top:562px;width:194px;height:50px;z-index:48;}
#Img13Inner {position:absolute;width:194px;height:50px;border:0px;}
#Img14 {display:block;overflow:hidden;position:absolute;left:315px;top:562px;width:174px;height:39px;z-index:49;}
#Img14Inner {position:absolute;width:174px;height:39px;border:0px;}
#Img15 {display:block;overflow:hidden;position:absolute;left:581px;top:518px;width:104px;height:108px;z-index:50;}
#Img15Inner {position:absolute;width:104px;height:108px;border:0px;}
#Img16 {display:block;overflow:hidden;position:absolute;left:792px;top:518px;width:105px;height:105px;z-index:51;}
#Img16Inner {position:absolute;width:105px;height:105px;border:0px;}
#Text18 {display:none;position:absolute;left:789px;top:46px;width:134px;height:21px;z-index:52;}
#Text15 {display:none;position:absolute;left:61px;top:272px;width:150px;height:21px;z-index:53;}
#Text16 {display:none;position:absolute;left:220px;top:272px;width:156px;height:21px;z-index:54;}
#Text17 {display:none;position:absolute;left:390px;top:272px;width:165px;height:21px;z-index:55;}
#Text24 {display:none;position:absolute;left:584px;top:256px;width:241px;height:21px;z-index:56;}
#Text20 {display:none;position:absolute;left:698px;top:284px;width:228px;height:21px;z-index:57;}
#Text21 {display:none;position:absolute;left:79px;top:406px;width:146px;height:21px;z-index:58;}
#Text22 {display:none;position:absolute;left:325px;top:407px;width:205px;height:21px;z-index:59;}
#Text23 {display:none;position:absolute;left:571px;top:386px;width:267px;height:21px;z-index:60;}
#Text25 {display:none;position:absolute;left:784px;top:386px;width:159px;height:21px;z-index:61;}
#Text19 {display:none;position:absolute;left:107px;top:541px;width:187px;height:21px;z-index:62;}
#Text26 {display:none;position:absolute;left:325px;top:541px;width:224px;height:21px;z-index:63;}
#Text27 {display:none;position:absolute;left:661px;top:512px;width:212px;height:21px;z-index:64;}
#Text28 {display:none;position:absolute;left:723px;top:512px;width:222px;height:21px;z-index:65;}
#PanelFooter {display:block;overflow:hidden;position:relative;float:left;margin-left:20px;width:960px;height:88px;z-index:66;}
#PanelFooterAlpha {position:absolute;left:0px;top:0px;width:100%;height:100%;background-color:#FFFFFF;}
#PanelFooterNoAlpha {position:relative;}
#BoxFooter {display:block;overflow:hidden;position:absolute;left:0px;top:0px;width:960px;height:30px;z-index:67;background:url('./images/partners_BoxFooter.png');background-repeat:no-repeat;}
#Img8 {display:block;overflow:hidden;position:absolute;left:831px;top:5px;width:18px;height:18px;z-index:68;}
#Img8Inner {position:absolute;width:18px;height:18px;border:0px;}
#Text8 {display:block;position:absolute;left:767px;top:6px;width:59px;height:16px;z-index:69;}
#Img10 {display:block;overflow:hidden;position:absolute;left:854px;top:5px;width:18px;height:18px;z-index:70;}
#Img10Inner {position:absolute;width:18px;height:18px;border:0px;}
#Img9 {display:block;overflow:hidden;position:absolute;left:877px;top:5px;width:18px;height:18px;z-index:71;}
#Img9Inner {position:absolute;width:18px;height:18px;border:0px;}
#Img12 {display:block;overflow:hidden;position:absolute;left:901px;top:5px;width:16px;height:16px;z-index:72;}
#Img12Inner {position:absolute;width:16px;height:16px;border:0px;}
#Text7 {display:block;position:absolute;left:161px;top:34px;width:637px;height:74px;z-index:73;}
